@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    width: 100%;
    padding: 0px;
}
.general_navbar{
    width: 100%;
    padding: 10px 0px;
    transition: 0.5s !important;
    background-color: black;
}
.general_navbar h1{
    margin: 0px;
}
.content_navbar{
    display: flex;
    justify-content: space-between;
}
.content_navbar button{
    width: 150px;
    height: 30px;
    position: relative;
    right: 30px;
    margin: 5px;
}
.content_navbar h1{
    color: #fff;
    padding-left: 10px;
    margin: 0px;
}

.general_navbar.activeTopHead{
    position: fixed;
    z-index: 20;
    margin: 0px;
    width: 100%;
    transition: 0.5s !important;
    background-color: rgba(0, 0, 0, 0.74);
}

.btn_navbarSign{
    outline: none;
    border: none;
    width: 150px;
    height: 30px;
    box-shadow:  0 0 10px #fff;
}
p{
    margin: 0px;
}