@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    width: 100%;
    padding: 0px;
    background-color: rgb(13, 12, 22);
}

/* navbar */

.navbar__content h1{
    color: rgb(235, 204, 103);
    font-weight: bold;
}

/* card */

.container__inp{
    display: flex;
    justify-content: center;
}
.general__inputs{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #fff;
    width: 400px;
    border-radius: 20px;
    position: relative;
    top: 70px;  
    height: 300px;  
    background-color: rgba(0, 0, 0, 0.205);
}
.content_inp{
    position: relative;
    top: 10%;
}
.content_inp input{
    width: 250px;
    height: 30px;
    margin: 10px;
    outline: none;
    border-radius: 7px;
    border: none;
}

.btn{
    width: 150px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #fff;
    height: 30px;
    outline: none;
    color: #000;
    background-color: #fff;
    border-radius: 1px;
    border: none;
}

.chek{
    color: #fff;
}